     #mapDiv
        {
            padding: 0;
            margin: 0;
            height: 60em;
        }
        #LocateButton
        {
            position: absolute;
            top: 95px;
            left: 20px;
            z-index: 50;
        }
        #BasemapToggle
        {
            position: absolute;
            top: 20px;
            right: 20px;
            z-index: 50;
        }
        .button
        {
            display: inline-block;
           margin-left:2px;
           margin-right:2px;
           
            background: #ccc;
             color: #222222;
            white-space: nowrap;
            font-family: 'Gotham Rounded A' , 'Gotham Rounded B' , "proxima-nova-soft" , sans-serif;
            padding: 9px 12px;
            
            position: relative;
            top: -5px;
            border:1px solid  black;
            border-radius: 3px;
        }
        #info {
            background: #fff;
            box-shadow: 0 0 5px #888;
            left: 1em;
            padding: 0.5em;
            position: absolute;
            top: 1em;
            z-index: 40;
        }

