<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="WaterAnalyticsEntities" connectionString="metadata=res://*/Models.WaterAnalytics.csdl|res://*/Models.WaterAnalytics.ssdl|res://*/Models.WaterAnalytics.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=136.159.14.34;initial catalog=WaterAnalytics;persist security info=True;user id=admin;password=abc123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
