@{
    ViewBag.Title = "Home Page";
}

@*<table   style="width:100%" border="0">
    <tr>
        
        <td><h1 style="font-family:'Monotype Corsiva'">@ViewBag.Message</h1></td>
        <td ><input type="search" results="5" autosave="some_unique_value" placeholder="Search for Weather or Gauging Station" style="width:100%; float:right"/></td>
        <td ><input type="submit" value="Search" style="float:right"></td>
    </tr>
</table>*@

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">



<style>
    html, body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #leftPane {
        color: #000;
        width: 250px;
        padding-bottom: 15px;
        background: #979563;
        opacity: 0.8;
    }

    #details {
        font-weight: bold;
        z-index: 999;
    }

    /*#container {
        position: absolute;
        right: 1em;
        bottom: 2em;
    }

    #gauge {
        position: absolute;
        left: 1em;
        bottom: 2em;
    }*/

    #more {
        position: static;
    }

    #button {
        padding: .5em 1em;
        text-decoration: none;
    }

    #effect {
        width: 150px;
        height: 400px;
        padding: 0.4em;
        position: relative;
        background: #E1F5A9;
    }

        #effect h3 {
            margin: 0;
            padding: 0.4em;
            text-align: center;
        }

    #search {
        display: block;
        position: absolute;
        z-index: 1000;
        left: 5px;
        top: 5px;
        /*top: 30px;
            left: 525px;*/
    }


    /*#LocateButton {
            position: absolute;
            top: 21px;
            z-index: 2;
            left: 490px;
           
        }*/
    .ajaxCallLoader {
	    position: fixed;
	    left: 0em;
	    top: 0em;
	    width: 100%;
	    height: 100%;
	    z-index: 9999;
	    background: url(@Url.Content("~/Content/Images/page-loader.gif"))50% 50% no-repeat ;
    }
</style>
<script>
    $(document).ready(function(){
        $(document).ajaxStart(function () {
            $("#wait").css("display","block");
      });
      $(document).ajaxComplete(function(){
          $("#wait").css("display", "none");
      });
    });
</script>
<script>var dojoConfig = { parseOnLoad: true };</script>
<div class="ajaxCallLoader" id="wait" style="display:none"></div>
<div id="mapDiv"
    data-dojo-type="dijit.layout.BorderContainer"
    data-dojo-props="gutters:'true', design:'sidebar'" style="height:100%">

    <div id="LocateButton" style="float: right; top: 11em; right: 600em;">
    </div>
    <div id="BasemapToggle">
    </div>
    <div id="Basemap_Gallery" class="button" style="float: right; top: 1em; right: 1em;">
        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Switch Basemap', closable:false,  open:false">
            <div data-dojo-type="dijit/layout/ContentPane" style="width: 30em; overflow: auto;">
                <div id="basemapGallery">
                </div>
            </div>
        </div>
    </div>

    <div id="Layer_galery" class="button" style="float: right; top: 1em; right: 1em; z-index: 999;">
        <div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Switch Layers', closable:false,  open:false">
            <div data-dojo-type="dijit/layout/ContentPane" style="width: auto; height: auto; overflow: auto;">
                <table>
                    <tr>
                        <td style="vertical-align: top; font-weight: bold">Layer List :
                        </td>
                        <td>
                            <span id="layer_list"></span>
                        </td>

                    </tr>
                </table>

            </div>
        </div>
    </div>
    <div class="button" data-dojo-type="dijit.layout.BorderContainer" data-dojo-props="region:'top'" style="float: right; top: 1em; left: 5em; z-index: 999; margin-top: .1em; padding: .2em">
        <input type="text" id="searchText" style="height: 1.5em; margin-left: .1em" />
        <input type="button" id="button" value="Find" onclick="execute(dojo.byId('searchText').value);" />
    </div>


    @*<div id="pnlChartstby"  title="Gauging Station Status">
        <table>
            <tr>
                <td><div rel="external" style="position:relative;float:left;width:450px;z-index: 500; " id="container"></div></td>
                <td><div rel="external" id="gauge" style="position: relative; width: 250px; z-index: 500;"></div></td>
            </tr>
        </table>
        <table>
            <tr>
                <td><div rel="external" id="dischargeVSwaterLevel" style="position:relative;width:700px; z-index: 500;"></div></td>
            </tr>
            <tr>
                <td><div rel="external" style="position:relative;width:700px; z-index: 600;" id="dischargeVSPerc"></div></td>
            </tr>
        </table>
    </div>*@

    <div id="pnlChartstby" style="display:none" title="Gauging Station Status">
        <div id="gauge-popup-tabs">
          <ul>
            <li><a href="#container">Historic Discharge</a></li>
            <li><a href="#gauge">Historic Vs Current WaterLevel</a></li>
            <li><a href="#dischargeVSwaterLevel">Discharge Vs WaterLevel</a></li>
            <li><a href="#dischargeVSPerc">Discharge, RainFall, SnowFall VS Time</a></li>
          </ul>
          <div id="container" style="width:60em"></div>
          <div id="gauge" style="width:25em"></div>
          <div id="dischargeVSwaterLevel" style="width:60em"></div>
          <div id="dischargeVSPerc" style="width:60em"></div>
        </div>
    </div>






    <div id="dialog-weather-detail" title="Weather Detail"></div>
    @*<div id="toggler" style="visibility: hidden; position: absolute; width: 350px; height: 280px; top: 150px;">
        <div id="effect" class="ui-widget-content ">
            <h3><font color="#B40431"> Station Details</font></h3>
            <a href="#" id="more">More</a>

            <a href="#" id="hide">Hide </a>
            <!--<img src="content/Images/chart.png" width="100" height="200" style="position: absolute; left:2em; bottom: 2em;">;-->

        </div>

    </div>*@


</div>
<div id="Spatial_Analysis" class="button" style="float: right; top: 1em; right: 1em; z-index: 999;">
    <div data-dojo-type="dijit/TitlePane" data-dojo-props="title:'Spatial Analysis', closable:false,  open:false">
        <div data-dojo-type="dijit/layout/ContentPane" style="overflow: auto;">
            <div id="Spatial_Analysis_div">
                <span style="font-size: smaller">Pick a tool and draw on the map. The drawn graphic will be buffered based on the specified parameters.
                </span>
                <table>

                    <tr>
                        <td colspan="5">
                            <input type="radio" name="draw" value="LINE" onclick="app.tb.activate(esri.toolbars.Draw.LINE); app.map.hideZoomSlider();">Line </input>
                            @* <input type="radio" name="draw" value="Polyline" onclick="app.tb.activate(esri.toolbars.Draw.POLYLINE); app.map.hideZoomSlider();">Polyline</input>*@



                            <input type="radio" name="draw" value="FreehandPolyline" onclick="app.tb.activate(esri.toolbars.Draw.FREEHAND_POLYLINE); app.map.hideZoomSlider();">Freehand Polyline</input>

                            @* <input type="radio" name="draw" value="Polygon" onclick="app.tb.activate(esri.toolbars.Draw.POLYGON); app.map.hideZoomSlider();">Polygon</input>*@

                            <input type="radio" name="draw" value="FreehandPolygon" onclick="app.tb.activate(esri.toolbars.Draw.FREEHAND_POLYGON); app.map.hideZoomSlider();">Freehand Polygon</input>
                        </td>
                        @* <button onclick="app.tb.activate(esri.toolbars.Draw.LINE);app.map.hideZoomSlider();">Line</button>
                        
                            <button onclick="app.tb.activate(esri.toolbars.Draw.POLYLINE);app.map.hideZoomSlider();">Polyline</button>
                        
                            <button onclick="app.tb.activate(esri.toolbars.Draw.FREEHAND_POLYLINE);app.map.hideZoomSlider();">Freehand Polyline</button>
                        
                            <button onclick="app.tb.activate(esri.toolbars.Draw.POLYGON);app.map.hideZoomSlider();">Polygon</button>
                        
                            <button onclick="app.tb.activate(esri.toolbars.Draw.FREEHAND_POLYGON);app.map.hideZoomSlider();">Freehand Polygon</button>
                        </td>*@
                    </tr>
                    <tr>
                        <td colspan="5">
                            <b>Buffer Parameters</b>
                        </td>
                    </tr>
                    <tr>
                        <td>Spatial Reference WKID</td>
                        <td colspan="4">
                            <input type="text" id="bufferSpatialReference" size="5" value="32612" /></td>


                    </tr>
                    <tr>
                        <td>Distance:</td>
                        <td>
                            <input type="text" id="distance" size="5" value="10" /></td>
                        <td colspan="3">
                            <select id="unit" style="width: 100px; color: black">
                                <option value="UNIT_STATUTE_MILE">Miles</option>
                                <option value="UNIT_FOOT">Feet</option>
                                <option value="UNIT_KILOMETER">Kilometers</option>
                                <option value="UNIT_METER">Meters</option>
                                <option value="UNIT_DEGREE">Degrees</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <button type="button" onclick="app.map.graphics.clear(); app.tb.deactivate(esri.toolbars.Draw)">Clear Graphics</button>
                        </td>
                    </tr>

                </table>


            </div>
        </div>
    </div>
</div>

